body {
  font-family: 'Ultra', serif;
  font-size: 12px;
}
.header{
  background-color: #40042A;
}
.heading{
  font-size: 100px;
  font-weight: bolder;
  color: green;
  text-align: center;
  letter-spacing: 10px;
  font-family: 'Ultra', serif;
}
.rls{
  font-family: 'Ultra', serif;
  font-size: 20px;
}
.header h1{
  font-weight: bold;
  font-size: 150px;
  letter-spacing: 20px;
  font-family: 'Ultra', serif;

}
.header h3{
  font-size: 100px;
  font-family: 'Ultra', serif;

}
.rules{
  float: right;
}
.big-picture{
  float: left;
}
.totals{
  text-align:center;
  width:700px;
  margin-left: 300px;
  font-family: 'Ultra', serif;

}
.dark-pig{
  height: 510px;
  padding-top: 0px;
  padding-bottom: 30px;
}
.big-picture{
  padding-top: 0px;
  margin-top: 0;
}
#playerSection{


  height: 270px;

}
.PLAYERONE{
  margin-top: 50px;
  margin-bottom: : 50px;
  height: 150px;
}
.PLAYERTWO{
  margin-top: 50px;
  margin-bottom: : 50px;
  height: 150px;
  font-family: 'Ultra', serif;

}
.SECTION{
  background: url("../images/dice1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
#rollButton{
  width: 350px;
  margin-top: 50px;
  padding-left: 50px;
}
#hold{
  width: 350px;
  margin-top: 50px;
  margin-right: 20px;
}
.roll-hold{
  background: url("../images/dice3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}
.player{
  font-family: 'Ultra', serif;

}
.player1-score{
  font-family: 'Ultra', serif;

}
.player2-score{
  font-family: 'Ultra', serif;

}
h1 {
  text-align: center;
  font-family: 'Walter Turncoat', cursive;
  padding: 0;
  padding-left: 30px;
  padding-top: 15px;
  margin: 0;
  line-height: 0.8;
}

h1#top {
  color: #FF9999;
  color: #FF99BB;
  color: #FF6699;
  font-size: 7em;

}
h1#bottom {
  color: #FF6699;
  font-size: 5.2em;
  margin: 0;
  padding-top: 0;
}


img.logo {
  width: 145px;
  padding-top: 15px;
}


h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

h5 {
  text-align: center;
  font-size: 1.8em;

}

.active {
  border: 4px solid #FF6699;
  border-radius: 10px;
  color:
}

.active h3 .player {
  font-size: 1.2em;
}

.active h3 {
  color: #FF6699;

}

.player {
  /*color: ##FF6699;*/
  font-size: 1.2em;
  margin-bottom: 30px;
}

h3 {
  font-family: 'Walter Turncoat', cursive;

}

p {
  margin-top: 25px;
}

#playerSection {
  text-align: center;
}



.btn {
  /*margin-right: 20px;*/
  /*border-width: 2px !important;*/
  padding: 10px 25px;
}

#roll .btn {
  color: black;
  background: yellow;
  border: #FF6699;
  margin-left: 100px;
}

#end-turn .btn {
  color: black;
  background: green;
  border: #FF99BB;
  margin-right: 2px;
}
.roll{
  float: left;
}
.hold{
  float: right;
}
